{
  "arrowParens": "always",
  "bracketSpacing": true,
  "importOrder": ["^@/", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "printWidth": 120,
  "semi": true
}
