* {
    box-sizing: inherit; /* que todo todo agarre el html */
    margin: 0;
    padding: 0;
}

html {  
    box-sizing: border-box; /* cuanto modifico tamaño, no solo el contenido se modifica, sino que todo el border y padding */
}

header {
	background-color: rgb(127, 214, 127);
}
header h1 {
    padding: 1em 0em;
	text-align: center; /* centro el texto */
	font-family: sans-serif, 'Times New Roman'; /* tipo de letra */
	text-transform: uppercase; /* todo mayuscula */
	font-size: 170%; /* porcentaje de tamaño de letra */
}
ul {
	list-style: none; /* saco puntitos */
}

header nav ul li {
    display: inline-block;
    width: 32%;
    text-align: center;
    margin: 1em 0em;

}
a {
	color: black;
	text-decoration: none; /* saco subrrayado */
	font-family: sans-serif;		
}

/* #nombre {
    background-color: red;
} */

/* .campo {
    background-color: green;
} */

textarea {
    height: 100px;
    width: 150px;
}

h2 {
    font-family: sans-serif;
}

form {
    margin: 8em 5em;
    padding: 1em; /* espacio entre contenido y borde */
    background-color: rgb(108, 147, 182);
    border: 1px solid gray;
    border-radius: 1em;
    max-width: 800px;
    margin: 2em auto;
}

label .required {
    color: red;
}

main section {
    max-width: 800px;
    margin: 2em auto;
}

form label {
    display: block;
    font-weight: bold;
}

form input, form textarea {
    border-radius: 5px;
    border: 1px solid blue;
    padding: 0.5em;
    width: 100%;
}

form .horizontal {
    display: block;
}

form .horizontal .campo {
    display: inline-block;
    width: 49%;
}

form .campo {
    display: block;
}

form .boton {
    display: block;
    width: 100%;
    text-align: right;
    margin-top: 0.5em;
}

form button {
    background-color: rgb(103, 179, 103);
    border: rgb(103, 179, 103);
    padding: 0.5em;
    border-radius: 7px;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.5s ease;
}

form button:hover {
    background-color: white;
    color: rgb(103, 179, 103);
    font-size: 1em;
}